.hero {
  position: relative;
  background-image: url("../../assets/hero1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.overlay .content {
  text-align: center;
  color: white;
}

.overlay .content p {
  font-size: 2.4rem;
  max-width: 94rem;
}

@media screen and (max-width: 768px) {
  .overlay .content {
    padding-top: 40rem;
    max-width: 100%;
  }

  .overlay .content h1 {
    font-size: 5rem;
  }
  .overlay .content p {
    font-size: 1.6rem;
  }
}
