@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&family=Poppins:wght@200;300;400;500;600;700&family=Public+Sans:ital,wght@0,600;0,700;1,200;1,300;1,400&display=swap");

*,
::after,
::before,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-primary: #86be3f;
  --brand-white: #fff;
  --brand-black: #000;
  --brand-text-secondary: #8a8888;
  --brand-border: #f3eded;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-poppins);
}

.pt-20 {
  padding-top: 20rem;
}

.py-10 {
  padding: 10rem 0;
}
.py-20 {
  padding: 20rem 0;
}

.mt-10 {
  margin-top: 10rem;
}

.my-10 {
  margin: 10rem 0;
}

.brand-text-primary {
  color: var(--brand-primary);
}

.brand-text-secondary {
  color: var(--brand-text-secondary);
}

.brand-border-bottom {
  border-bottom: 1px solid var(--brand-border);
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 6.4rem;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  color: var(--brand-text-secondary);
}

.green_underline {
  display: inline-block;
  border-bottom: 4px solid var(--brand-primary);
  padding-top: 2rem;
  width: 11.9rem;
  margin: auto;
}
